s02/MeuSegundoProjeto.Console/MeuSegundoProjeto.Console.csproj
s02/MeuSegundoProjeto.Console/Program.cs
s02/MeuSegundoProjeto.Console/bin/Debug/net6.0/MeuSegundoProjeto.Console.deps.json
s02/MeuSegundoProjeto.Console/bin/Debug/net6.0/MeuSegundoProjeto.Console.dll
s02/MeuSegundoProjeto.Console/bin/Debug/net6.0/MeuSegundoProjeto.Console.exe
s02/MeuSegundoProjeto.Console/bin/Debug/net6.0/MeuSegundoProjeto.Console.pdb
s02/MeuSegundoProjeto.Console/bin/Debug/net6.0/MeuSegundoProjeto.Console.runtimeconfig.json
s02/MeuSegundoProjeto.Console/obj/MeuSegundoProjeto.Console.csproj.nuget.dgspec.json
s02/MeuSegundoProjeto.Console/obj/MeuSegundoProjeto.Console.csproj.nuget.g.props
s02/MeuSegundoProjeto.Console/obj/MeuSegundoProjeto.Console.csproj.nuget.g.targets
s02/MeuSegundoProjeto.Console/obj/project.assets.json
s02/MeuSegundoProjeto.Console/obj/project.nuget.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/apphost.exe
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.AssemblyInfo.cs
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.AssemblyInfoInputs.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.assets.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.csproj.AssemblyReference.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.csproj.CoreCompileInputs.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.csproj.FileListAbsolute.txt
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.dll
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.GeneratedMSBuildEditorConfig.editorconfig
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.genruntimeconfig.cache
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.GlobalUsings.g.cs
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/MeuSegundoProjeto.Console.pdb
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/ref/MeuSegundoProjeto.Console.dll
s02/MeuSegundoProjeto.Console/obj/Debug/net6.0/refint/MeuSegundoProjeto.Console.dll
s02/NomeMeuPrimeiroProjeto.Console/NomeMeuPrimeiroProjeto.Console.csproj
s02/NomeMeuPrimeiroProjeto.Console/Program.cs
s02/NomeMeuPrimeiroProjeto.Console/bin/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.deps.json
s02/NomeMeuPrimeiroProjeto.Console/bin/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.dll
s02/NomeMeuPrimeiroProjeto.Console/bin/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.exe
s02/NomeMeuPrimeiroProjeto.Console/bin/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.pdb
s02/NomeMeuPrimeiroProjeto.Console/bin/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.runtimeconfig.json
s02/NomeMeuPrimeiroProjeto.Console/obj/NomeMeuPrimeiroProjeto.Console.csproj.nuget.dgspec.json
s02/NomeMeuPrimeiroProjeto.Console/obj/NomeMeuPrimeiroProjeto.Console.csproj.nuget.g.props
s02/NomeMeuPrimeiroProjeto.Console/obj/NomeMeuPrimeiroProjeto.Console.csproj.nuget.g.targets
s02/NomeMeuPrimeiroProjeto.Console/obj/project.assets.json
s02/NomeMeuPrimeiroProjeto.Console/obj/project.nuget.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/apphost.exe
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.AssemblyInfo.cs
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.AssemblyInfoInputs.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.assets.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.csproj.AssemblyReference.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.csproj.CoreCompileInputs.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.csproj.FileListAbsolute.txt
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.dll
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.GeneratedMSBuildEditorConfig.editorconfig
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.genruntimeconfig.cache
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.GlobalUsings.g.cs
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/NomeMeuPrimeiroProjeto.Console.pdb
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/ref/NomeMeuPrimeiroProjeto.Console.dll
s02/NomeMeuPrimeiroProjeto.Console/obj/Debug/net6.0/refint/NomeMeuPrimeiroProjeto.Console.dll
s02/AulaQuarta.Console/AulaQuarta.Console.csproj
s02/AulaQuarta.Console/Program.cs
s02/AulaQuarta.Console/bin/Debug/net6.0/AulaQuarta.Console.deps.json
s02/AulaQuarta.Console/bin/Debug/net6.0/AulaQuarta.Console.dll
s02/AulaQuarta.Console/bin/Debug/net6.0/AulaQuarta.Console.exe
s02/AulaQuarta.Console/bin/Debug/net6.0/AulaQuarta.Console.pdb
s02/AulaQuarta.Console/bin/Debug/net6.0/AulaQuarta.Console.runtimeconfig.json
s02/AulaQuarta.Console/obj/AulaQuarta.Console.csproj.nuget.dgspec.json
s02/AulaQuarta.Console/obj/AulaQuarta.Console.csproj.nuget.g.props
s02/AulaQuarta.Console/obj/AulaQuarta.Console.csproj.nuget.g.targets
s02/AulaQuarta.Console/obj/project.assets.json
s02/AulaQuarta.Console/obj/project.nuget.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
s02/AulaQuarta.Console/obj/Debug/net6.0/apphost.exe
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.AssemblyInfo.cs
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.AssemblyInfoInputs.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.assets.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.csproj.AssemblyReference.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.csproj.CoreCompileInputs.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.csproj.FileListAbsolute.txt
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.dll
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.GeneratedMSBuildEditorConfig.editorconfig
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.genruntimeconfig.cache
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.GlobalUsings.g.cs
s02/AulaQuarta.Console/obj/Debug/net6.0/AulaQuarta.Console.pdb
s02/AulaQuarta.Console/obj/Debug/net6.0/ref/AulaQuarta.Console.dll
s02/AulaQuarta.Console/obj/Debug/net6.0/refint/AulaQuarta.Console.dll
